<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/">Recipe Food</a>

    <button (click)="onToggleMenu()" class="navbar-toggler" type="button">
      <i *ngIf="isToggleMenu" class="bi bi-x-lg"></i>
      <i *ngIf="!isToggleMenu" class="bi bi-list"></i>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{'show': isToggleMenu}">
      <ul class="navbar-nav">

        <li *ngIf="!isAuthenticated" class="nav-item">
          <a routerLink="/auth"
             routerLinkActive="active"
             class="nav-link">Authenticate</a>
        </li>

        <li *ngIf="isAuthenticated" class="nav-item">
          <a routerLink="/recipes"
             routerLinkActive="active"
             class="nav-link">Recipes</a>
        </li>

        <li *ngIf="isAuthenticated" class="nav-item">
          <a routerLink="/shoppingList"
             routerLinkActive="active"
             class="nav-link">Shopping list</a>
        </li>

        <li *ngIf="isAuthenticated" appShowDrop class="nav-item dropdown">
          <a class="nav-link dropdown-toggle">Manage</a>
          <ul class="dropdown-menu">
            <li>
              <h1 class="dropdown-header text-primary">Recipes</h1>
            </li>
            <li><a (click)="onSaveResipesData()" class="dropdown-item">Save Recipes Data</a></li>
            <li><a (click)="onFetchRecipesData()" class="dropdown-item">Fetch Resipes Data</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <h1 class="dropdown-header text-primary">Shopping list</h1>
            </li>
            <li><a (click)="onSaveIngredientsData()" class="dropdown-item">Save Ingredients Data</a></li>
            <li><a (click)="onFetchIngredientsData()" class="dropdown-item">Fetch Ingredients Data</a></li>
          </ul>
        </li>

        <li *ngIf="isAuthenticated" class="nav-item">
          <a (click)="onLogOut()"
             class="nav-link text-danger">
            Log Out
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>