<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Recipe Food</a>

    <button (click)="onToggleMenu()" class="navbar-toggler" type="button">
      <i *ngIf="isToggleMenu" class="bi bi-x-lg"></i>
      <i *ngIf="!isToggleMenu" class="bi bi-list"></i>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{'show': isToggleMenu}">
      <ul class="navbar-nav">

        <li *ngIf="isAuthenticated" class="nav-item">
          <a (click)="onLogOut()"
             class="nav-link text-light bg-danger">
            Log Out
          </a>
        </li>

        <li *ngIf="!isAuthenticated" class="nav-item">
          <a routerLink="/auth"
             class="nav-link"
             [ngClass]="{active: selectedPage === 0}">Authenticate</a>
        </li>


        <li *ngIf="isAuthenticated" class="nav-item">
          <a routerLink="/recipes"
             class="nav-link"
             [ngClass]="{active: selectedPage === 1}">Recipes</a>
        </li>

        <li class="nav-item">
          <a routerLink="/shoppingList"
             class="nav-link"
             [ngClass]="{active: selectedPage === 2}">Shopping list</a>
        </li>

        <li *ngIf="isAuthenticated" appShowDrop class="nav-item dropdown">
          <a class="nav-link dropdown-toggle">Manage</a>
          <ul class="dropdown-menu">
            <li><a (click)="onSaveData()" class="dropdown-item">Save Data</a></li>
            <li><a (click)="onFetchData()" class="dropdown-item">Fetch Data</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>