<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <app-spinner></app-spinner>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-5 mx-5">
        <div class="mb-3 mt-3">
            <label class="form-label">E-mail :
                <input formControlName="email" type="email" class="form-control">
            </label>
        </div>
        <div class="mb-3 mt-3">
            <label class="form-label">Password :
                <input minlength="6" type="password" formControlName="password" class="form-control">
            </label>
        </div>
        <div class="mb-3 mt-3">
            <button type="submit" [disabled]="isModeTextBtn ? form.invalid : form.invalid" class="btn btn-primary mx-3">
                {{isModeTextBtn ? 'sign up' : 'login'}}
            </button>
            <button (click)="onChangeModeBtn()" type="button" class="btn btn-primary">
                switch to {{isModeTextBtn ? 'login' : 'sign up'}}
            </button>
        </div>
    </form>
</div>