<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <app-spinner *ngIf="isSpinner"></app-spinner>

    <!-- <app-alert (close)="onClose()" [message]="errorMessage" *ngIf="errorMessage"></app-alert> -->

    <form *ngIf="!isSpinner" [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-5 mx-5">
        <div class="mb-3 mt-3">
            <label class="form-label">E-mail :
                <input pattern="^([0-9]{9})|([A-Za-z0-9._%\+\-]+@[a-z0-9.\-]+\.[a-z]{2,3})$" formControlName="email" type="email" class="form-control">
            </label>
            <h6 class="text-danger"
                *ngIf="form.controls['email'].errors?.['email'] &&form.controls['email'].touched">
                invalid email
            </h6>
            <h6 class="text-danger"
                *ngIf="form.controls['email'].errors?.['required']">
                required email
            </h6>

        </div>
        <div class="mb-3 mt-3">
            <label class="form-label">Password :
                <input pattern="^(?!\s*$).+" pattern="[0-9]+" minlength="6" type="password" formControlName="password" class="form-control">
            </label>
            <h6 class="text-danger"
                *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
                invalid password
            </h6>
            <h6 class=" text-danger"
                *ngIf="form.controls['password'].errors?.['required']">
                required password
            </h6>
            <h6 class="text-danger"
                *ngIf="form.controls['password'].errors?.['minlength']">
                password must be at least 6 characters long.
            </h6>
            <h6 class="text-danger"
                *ngIf="form.controls['password'].errors?.['maxlength']">
                password can be max 10 characters long.
            </h6>

        </div>
        <div class="mb-3 mt-3">
            <button type="submit" [disabled]="isModeTextBtn ? form.invalid : form.invalid" class="btn btn-primary mx-3">
                {{isModeTextBtn ? 'sign up' : 'login'}}
            </button>
            <button (click)="onChangeModeBtn()" type="button" class="btn btn-primary">
                switch to {{isModeTextBtn ? 'login' : 'sign up'}}
            </button>
        </div>
    </form>
</div>