<div class="container">

  <div class="row">

    <div class="col-md-12">
      <button routerLink="/shoppingList/new" class="btn btn-success mt-3">Add Ingredient</button>
      <router-outlet></router-outlet>
      <hr>
      <div *ngIf="shopList.length > 0 ; else noItem">
        <app-shopping-item *ngFor="let ing of shopList ; let i =index"
                           [item]="ing"
                           [index]="i">
        </app-shopping-item>
      </div>

      <ng-template #noItem>
        <h6 class="text-danger">no Item , please Add the Ingredient...</h6>
        <h6 class="text-danger">or you can add recipes ingredients to this empty list ingredient.</h6>
      </ng-template>

    </div>

  </div>

</div>