<div class="container">

  <div class="row">

    <div class="col-md-12">
      <button [disabled]="shopList.length === 0" routerLink="/shoppingList/new" class="btn btn-success mt-3">Add Ingredient</button>
      <router-outlet></router-outlet>
      <hr>
      <div *ngIf="shopList.length > 0 ; else noItem">
        <app-shopping-item *ngFor="let ing of shopList ; let i =index"
                           [item]="ing"
                           [index]="i">
        </app-shopping-item>
      </div>

      <ng-template #noItem>
        <h3 class="mt-5 mx-5">Fetch Data ...</h3>
      </ng-template>

    </div>

  </div>

</div>