<div class="container">
    <div class="row">

        <div class="col-12 col-xxl-6 col-xl-6 col-md-12 col-sm-12 col-lg-6">

            <div class="col-12 mt-5">
                <a routerLink="/recipes/new" class="btn btn-success">Add Recipe</a>
            </div>

            <div class="container">
                <div class="row">
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <app-recipe-item *ngFor="let recipe of recipes ; let i=index"
                                         [item]="recipe"
                                         [index]="i">
                        </app-recipe-item>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 col-xxl-6 col-xl-6 col-md-12 col-sm-12 col-lg-6">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>